@import '../../../stylesheet/vars.css';

.DivButtons {
  margin: 0 auto;
  display: flex;
  gap: 5px;
  justify-content: center;
  @media screen and (min-width: 768px) {
    gap: 10px;
  }
}

.Button {
  margin-bottom: 10px;
  font-family: var(--main__font-family);
  text-align: center;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: var(--accent-background-color);
  color: var(--secondary-text-color);
  transition: all var(--cubic) var(--animation-time);
  outline: transparent;

  &:disabled {
    background-color: rgb(130, 62, 255, 0.3);
  }
}
